/*Styling for feed*/
.convo-container {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.scroll {
    height: auto;
    max-height: 40em;
    margin: 30px auto;
  }

.scrollable{
    overflow-y: auto;
    max-height: 70em;
  }